torch~=2.7.0+cu128
torch_geometric~=2.6.1
pandas~=2.2.3
scipy~=1.15.2
scikit-learn~=1.6.1
gast
networkx~=3.3
tqdm~=4.67.1
pyyaml
matplotlib~=3.10.1
seaborn~=0.13.2
absl-py
torch_geometric
ipykernel
biopandas~=0.5.1
shortuuid~=1.0.13
umap-learn~=0.5.7
pynndescent
jupyterlab
numpy~=1.26.4
captum~=0.8.0
biopython~=1.85
jupyter-server~=2.15.0
pillow~=11.0.0
pymol~=3.1.0